---
// Import base style with Tailwind's directives.
import "@/styles/tailwind.css";

// Fonts.
import "@fontsource-variable/roboto-flex"; // font-sans
import "@fontsource-variable/playfair-display"; // font-serif

// Website's title as this component's prop.
const { title } = Astro.props;

// UI Components.
import Header from "@/ui/Header.astro";
import Footer from "@/ui/Footer.astro";

// Metadata.
const description: string = "...";
---

<!doctype html>
<!-- Page's language -->
<html lang="en">
	<head>
		<!-- Character set -->
		<meta charset="UTF-8" />

		<!-- Responsiveness -->
		<meta name="viewport" content="width=device-width" />

		<!-- Description -->
		<meta name="description" content={description} />

		<!-- Astro's watermark -->
		<meta name="generator" content={Astro.generator} />

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Title -->
		<title>{title} | Website</title>
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
