---
// Import base style with Tailwind's directives.
import "@/styles/tailwind.css";

// Fonts.
import "@fontsource-variable/roboto-flex"; // font-sans
import "@fontsource-variable/playfair-display"; // font-serif

// Website's title as this component's prop.
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<slot />
	</body>
</html>
